#watch7-sidebar{
display:none;
}

body{
background:brown;
}
#footer-container
{
 display:none !important;
}

#feed-main-what_to_watch{
display:none;
}
#masthead-appbar{
display:none;
}
#yt-masthead-user{
display:none;
}
#masthead-positioner-height-offset {
     height: 0px !important; 
}
#content{
    margin-left: 0px;
    margin-right: 0px;
    width:100%;

}
#masthead-search{
float: right;
    width: 300px;
}
.branded-page-v2-primary-col{
padding-left:250px
}

#player{
padding-left:200px;
margin-top:10px;
}
#placeholder-player{
display:none;
}
#ab4yt-brand{
display:none;
}
#action-panel-details{
    margin-left: 270px;
    width: 800px;

}

#watch-header{

    position: relative;
    margin-left: 270px;
    margin-top: 500px;
        width: 800px;

}
#watch-discussion{
    margin-left: 270px;
    width: 800px;

}







